.headingDiv {
    background-color: #32bbd3;
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center;
    box-shadow: 4px 7px 21px -4px rgba(0, 0, 0, 0.75);
}

.headingSpan {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2.5vw;
}

#container {
    width: 100%;
    margin-top: 30px;
}

#first {
    width: 48%;
    float: left;
    height: 600px;
    box-shadow: 4px 7px 21px -4px rgba(0, 0, 0, 0.75);
}

#second {
    width: 48%;
    float: right;
    height: 600px;
    box-shadow: 4px 7px 21px -4px rgba(0, 0, 0, 0.75);
}

.instructionDiv {
    border: 2px solid;
    padding: 10px;
    margin: 30px;
}

.listItem {
    font-family: sans-serif;
    font-size: 1.5vw;
}

.buttonDiv {
    text-align: center;
    margin-top: 10px;
}

.modifyButton {
    background-color: #167e35;
    color: #ffffff;
    font-size: 1.5vw;
    padding: 5px;
    cursor: pointer;
}

.startButton {
    background-color: #32bbd3;
    color: #ffffff;
    font-size: 1.5vw;
    padding: 5px;
    cursor: pointer;
}

.columnData {
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

.columnHeading {
    padding: 20px;
    padding-right: 20px;
}

.quesDiv {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
}

.my-select-panel-class1 {
    width: 30%;
    max-width: 30%;
    height: 10%;
    left: 30%;
}